.footer {
    background: #193042;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
    color: #e7eefb;
}

.footer span a {
    text-decoration: none;
    font-weight: 700;
    color: #02b7d0
}


.footer .Sensei_Name:hover {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
    color: #e7eefb
}
