#page-loader, #topBtn, .header {
    position: fixed
}

#dark-mode, #topBtn {
    outline: 0;
    background-color: #2f5975;
    cursor: pointer
}

#dark-mode:hover, #topBtn:hover {
    background-color: #02b7d0
}

* {
    font-family: Overlock, cursive
}

html {
    scroll-behavior: smooth
}

ul {
    list-style: none
}

body.light {
    background-color: #fbfbfb;
    transition: .2s
}

#page-loader {
    background-size: 15%;
    background: url("../images/pre-loder.gif") center no-repeat rgba(26, 27, 38, .75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%;
    z-index: 100
}

.header, body.dark .header {
    -webkit-backdrop-filter: blur(5px);
    -webkit-transition: .2s;
    -o-transition: .2s;
    backdrop-filter: blur(5px);
    transition: .2s
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 20px
    }

    .special-heading + p {
        margin-top: -15px
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.special-heading {
    color: #0d1d23;
    font-size: 60px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0
}

.special-heading + p {
    font-weight: 700;
    margin-top: -8px;
    margin-right: 0;
    margin-left: 0;
    font-size: 30px;
    text-align: center;
    color: #0d1d23
}

.header {
    left: 0;
    width: 100%;
    z-index: 2;
    margin: 0;
    background-color: rgba(26, 27, 38, .5)
}

.sticky {
    position: absolute;
    top: 0;
    width: 100%
}

.sticky + .container {
    padding-top: 102px
}

.header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    min-height: 97px
}

.header .nav, .header .nav .ul-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.header .my-logo {
    margin: 0;
    height: 75px;
    border-radius: 6px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.header .container .nav .ul-1 li a:active, .header .container .nav .ul-2 li a:active, .header .my-logo:active {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7)
}

.header .nav {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

.header .container .nav .ul-2 li a, .header .nav .ul-1 li a {
    display: block;
    -webkit-transition: .2s;
    -o-transition: .2s;
    color: #fbfbfb;
    font-size: 18px;
    text-decoration: none
}

@media (max-width: 991px) {
    .header .container .nav .ul-2 {
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        max-width: 600px;
        top: calc(100% + 0px)
    }

    .header .container .nav .ul-1 {
        display: none
    }
}

.header .nav .ul-1 li a {
    padding: 5px 35px;
    transition: .2s;
    font-weight: 700
}

.header .container .nav .ul-2 {
    display: none;
    border-radius: 6px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgba(22, 22, 30, .5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: .2s;
    position: absolute;
    right: 0;
    max-width: 600px;
    top: calc(100% + 10px)
}

body.light .header .container .nav .ul-2 {
    border: .1px solid #02b7d0
}

.header .container .nav .ul-2 li a {
    padding: 20px;
    font-weight: 700;
    transition: .2s
}

.header .container .nav .ul-2 li a:hover {
    padding-left: 25px
}

.header .nav .form {
    cursor: pointer;
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 2px solid #02b7d0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.header .nav .form i {
    color: #fdfdfd;
    position: absolute;
    font-size: 30px;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%);
    right: 0;
    z-index: -1
}

#dark-mode:active, #topBtn:active, .header .nav .form:active {
    -webkit-transform: scale(.69);
    -ms-transform: scale(.69);
    transform: scale(.69)
}

.header .nav .form:hover {
    color: #2f5975
}

.contact-me .info-me .link-me:hover, .header .container .nav .form i:hover {
    color: #02b7d0
}

.header .nav .ul-2 li a.active, .header .nav .ul-2 li a:hover {
    color: #02b7d0;
    border-bottom: 3px solid #02b7d0
}

.header .nav .ul-1 li a.active, .header .nav .ul-1 li a:hover {
    color: #02b7d0;
    border-top: 3px solid #02b7d0
}

.landing .text-hi h1, .language .feat .jp-h3, .services .services-content .text h3, .special-heading, body.dark, body.light {
    font-family: 'Yuji Syuku', serif
}

.landing {
    background-color: rgba(26, 27, 38, .4);
    position: relative;
    width: 100vw;
    height: 100vh
}

.landing .text-hi {
    text-shadow: -3px 3px 7px #1a1b26;
    width: 600px;
    max-width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.landing .text-hi h1 {
    text-shadow: #1a1b26;
    font-weight: 700;
    font-size: 80px;
    color: #02b7d0;
    margin: 0
}

#dark-mode, #topBtn, .footer, .landing .go-down:hover {
    color: #fbfbfb
}

.landing .go-down {
    color: #02b7d0;
    width: 20px;
    font-size: 60px;
    position: absolute;
    bottom: -210px;
    left: 46%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-animation: 1.5s infinite bons;
    animation: 1.5s infinite bons
}

@-webkit-keyframes bons {
    0%, 10%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
    40%, 60% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px)
    }
}

@keyframes bons {
    0%, 10%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
    40%, 60% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px)
    }
}

.landing .text-hi p {
    text-align: center;
    font-weight: 700;
    color: #fbfbfb;
    font-size: 30px;
    line-height: 1.8
}

.About, .knowledge, .language, .my-Skills {
    padding-top: 93px;
    margin-top: 27px
}

.About .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.language .container-1, .services .services-content {
    display: -ms-grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr))
}

.About .about-content .pre-image {
    position: relative;
    width: 540px;
    height: auto
}

.About .about-content .pre-image img {
    max-width: 100%;
    border-radius: 1%
}

.About .about-content .text {
    -ms-flex-preferred-size: calc(100% - 555px);
    flex-basis: calc(100% - 555px);
    margin-top: -9px
}

.About .about-content .text h1 {
    margin-bottom: -6px;
    font-weight: 700
}

.About .about-content .text h2 {
    margin-top: 15px;
    font-weight: 700;
    margin-bottom: 18px
}

.About .about-content .text hr {
    display: none;
    width: 50%;
    border-color: #0d1d23
}

.About .about-content .text p {
    color: #284950;
    margin-top: -6px;
    font-weight: 700;
    font-size: 25px;
    text-justify: inter-word;
    text-align: -moz-left
}

@media (max-width: 996px) {
    .About .about-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .About .about-content .pre-image {
        max-width: 100%;
        margin: 0 auto 20px
    }

    .About .about-content .text {
        font-size: 10px;
        font-weight: bolder
    }

    .About .about-content .text h1 {
        text-align: center;
        font-size: 32px;
        margin: 0;
        padding: 0
    }

    .About .about-content .text h2 {
        font-size: 18px;
        text-align: center
    }

    .About .about-content .text hr {
        width: 50%;
        display: inline-block;
        border-color: #0d1d23
    }

    @media (max-width: 996px) {
        .About .about-content .text hr {
            display: none
        }
    }.About .about-content .text p {
         font-size: 18px;
         color: #284950
     }
}

@media (max-width: 768px) {
    .About .about-content .text .about-t {
        text-align: center
    }
}

.services {
    margin-top: 20px;
    padding-top: 93px
}

.services .services-content {
    text-align: center;
    margin-top: 55px;
    display: grid;
    grid-gap: 30px
}

.services .services-content .srv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px
}

.language .container .h2, .language .container .lp, .skills {
    display: inline-block
}

.services .services-content .srv i {
    color: #2f5874;
    -ms-flex-preferred-size: 60px;
    flex-basis: 60px
}

.services .services-content .srv .text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.services .services-content .text h4 {
    color: #0d1d23;
    margin-top: -19px
}

.services .services-content .text h3 {
    color: #0d1d23;
    font-size: 25px;
    margin: 0 0 20px
}

.services .services-content .text p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 17px;
    color: #284950;
    font-weight: 300;
    line-height: 1.6
}

.skills {
    width: 100%;
    max-width: 100%
}

.my-Skills .container .skills .skill h3 {
    padding-top: 23px;
    font-size: 19px;
    color: #0d1d23;
    font-weight: 700;
    font-family: 'Yuji Syuku', serif;
    margin: 0
}

.my-Skills .container .skills .skill h4 {
    font-size: 17px;
    margin: 0
}

.skill-name {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0
}

.skill-bar {
    height: 20px;
    background: #315977a3;
    border-radius: 6px
}

.skill-per {
    height: 20px;
    background: #322b42;
    background: -o-linear-gradient(left, #322b42 0, #02b7d0 100%);
    background: -webkit-gradient(linear, left top, right top, from(#322b42), to(#02b7d0));
    background: linear-gradient(90deg, #322b42 0, #02b7d0 100%);
    border-radius: 6px;
    width: 0;
    -webkit-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    position: relative
}

.skill-per:before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #2f5874;
    color: #fbfbfb;
    font-weight: 700;
    font-size: 12px;
    border-radius: 6px;
    top: -35px;
    right: 0;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%)
}

.skill-per:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #0d1d23;
    top: -16px;
    right: 0;
    -webkit-transform: translateX(50%) rotate(45deg);
    -ms-transform: translateX(50%) rotate(45deg);
    transform: translateX(50%) rotate(45deg);
    border-radius: 6px
}

.language .container-1 {
    display: grid;
    grid-gap: 20px
}

.language .feat {
    padding: 20px;
    text-align: center
}

.language .feat i {
    font-size: 35px;
    color: #2f5975
}

.language .feat h3 {
    color: #0d1d23;
    font-weight: 800;
    margin: 45px 0
}

.language .feat .ar-h3 {
    font-family: "Noto Nastaliq Urdu", serif
}

.language .feat p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.8;
    color: #284950;
    font-size: 17px
}

.knowledge .knowledge-content {
    text-align: center;
    display: -ms-grid;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px
}

.knowledge .container .knowledge-content p {
    color: #2f5975;
    font-size: 25px;
    margin: 45px 0;
    font-weight: 700
}

.art-gallery {
    margin-top: 15px
}

.art-gallery .container {
    padding-top: 86px;
    padding-bottom: 80px
}

.art-gallery .art-gallery-content .masonry img {
    border-radius: 6px;
    width: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.art-gallery .art-gallery-content .masonry img:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px)
}

.masonry {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px
}

.masonry .mItem {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%
}

@media (max-width: 1199px) {
    .masonry {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3
    }
}

@media (max-width: 991px) {
    .masonry {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2
    }
}

.contact-me {
    padding-top: 30px;
    padding-bottom: 60px;
    margin-top: -75px;
    margin-bottom: -75px
}

.contact-me .info-me {
    padding-bottom: 60px;
    text-align: center
}

.contact-me .info-me .link-me {
    font-size: 27px;
    font-weight: 800;
    text-decoration: none;
    color: #2f5975;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s
}

#topBtn, .contact-me .info-me .social i {
    -webkit-transition: .2s;
    -o-transition: .2s
}

.contact-me .info-me .social {
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px
}

.contact-me .info-me .social i {
    margin-left: 15px;
    font-size: 20px;
    color: #322b42;
    transition: .2s
}

.contact-me .info-me .social i:hover {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
    color: #02b7d0
}

#topBtn {
    display: none;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    padding: 15px;
    border-radius: 6px;
    transition: .2s
}

#topBtn:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px)
}

#dark-mode {
    position: absolute;
    border: none;
    padding: 13px;
    border-radius: 6px;
    right: 61px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

@media (max-width: 767px) {
    .landing .go-down {
        color: #02b7d0;
        font-size: 60px;
        position: absolute;
        bottom: -100px;
        left: 43%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%)
    }

    .services .services-content .srv {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center
    }

    .masonry {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1
    }

    #topBtn {
        padding: 10px;
        background-color: #2f5874
    }

    .contact-me .info-me .wise {
        font-size: 21px
    }
}

.footer {
    background: #193042;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px
}

.footer span a {
    text-decoration: none;
    font-weight: 700;
    color: #02b7d0
}